<div class="row">
  <div class="col-lg-6">
    <h2>
      Book List
    </h2>
  </div>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="serchKey">
      <span class="input-group-btn">
        <button class="btn btn-info" type="button" (click)="onSearch()">
          <i class="fa fa-search" aria-hidden="true"></i> 
        </button>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table">
      <thead>
        <tr>
          <td>No</td>
          <td>Code</td>
          <td>Title</td>
          <td>Price</td>
          <td>Author</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; let i = index">
          <td>{{ i }}</td>
          <td>{{ book.code }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.price }}</td>
          <td>{{ book.author.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
